extends layout

block content
  h1.center Welcome
  ol
    each po in programs
      li
        a(href=`/program/${po._id}/workout/${po.workout._id}`) View #{po.programName}: #{po.workout.workoutName}
