extends layout

block content
  h1.center Welcome
  ol
    li
      // TODO: Remove fixed id for testing.
      a(href='/view-workout/61264c0c9a40840102abe193') View 61264c0c9a40840102abe193
    li
      a(href='/timer') Timer
