* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: chartreuse;
  border-color: chartreuse;
  background-color: black;
}

body {
  height: 95vh;
  width: 95vw;
  margin: 2vh 0 0 2vw;
}

div {
  display: flex;
}

button {
  border-radius: 10%;
  margin: 1vmax;
}

h1 {
  font-size: 15vmin;
}

.grow {
  flex-grow: 1;
}

.center{
  text-align: center;
}

.large-text {
  font-size: 50vmin;
  margin: 1vmin;
  flex-grow: 1;
  text-align: center;
}

.medium-text {
  font-size: 15vmin;
  margin: 1vmin;
  flex-grow: 1;
  text-align: center;
}