* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: chartreuse;
  border-color: chartreuse;
  background-color: black;
}

body {
  height: 95vh;
  width: 95vw;
  margin: 2vh 0 0 2vw;
}

.base {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
}

div {
  display: flex;
}

button {
  border-width: 1vmax;
  border-radius: 10%;
  margin: 1vmax;
  flex-grow: 1;
}

p {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.large-text {
  font-size: 50vmin;
}

.medium-text{
  font-size: 15vmin;
}
